@import "bootstrap.css";
header {
  background-color: #ffffcc;
}
#footer-wrapper {
  background-color: #ffffad;
}
#headerNavDiv {
  margin-top: 5vh;
}
nav > ul > li.dropdown:hover > ul {
  display: block;
  float: left;
  margin-top: 0;
}
nav ul li ul li:hover > ul {
  display: block;
  left: 100%;
  top: 40%;
  float: left;
}
main {
  padding-bottom: 120px;
}
footer {
  min-height: 60px;
}
#footerAppendBoxRight,
#footerAppendBoxLeft {
  display: inline;
  margin-left: 30px;
}
footer div {
  padding: 5px;
}
