body {
  font-family: 'Bitter', serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Cutive Mono', sans-serif;
}
header {
  background-color: #ffffcc;
}
#footer-wrapper {
  background-color: #ffffad;
}
#headerNavDiv {
  margin-top: 5vh;
}
header img {
  padding: 10px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #334d1a;
  color: #ffffcc;
}
body {
  background-image: url('../Pics/night_train_xl.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
main {
  padding-bottom: 120px;
}
section {
  margin-top: 10vh;
  padding: 10vh;
  background: #fffff4;
}
section img {
  width: 80%;
}
#bottomUlInNav > li.dropdown:hover > ul {
  display: block;
  float: left;
  margin-top: 0;
}
footer {
  min-height: 60px;
}
footer div {
  padding: 5px;
}
/* Special rules for Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  body {
    background-image: url('../Pics/night_train_lg.jpg');
  }
  #footerAppendBoxRight,
  #footerAppendBoxLeft {
    margin: 0px;
  }
  #headerNavDiv {
    margin: 0;
  }
  #logo {
    display: none;
  }
}
/* Rules for Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  body {
    background-image: url('../Pics/night_train_md.jpg');
  }
  #footerAppendBoxRight,
  #footerAppendBoxLeft {
    margin: 0px;
  }
  #headerNavDiv {
    margin: 0;
  }
  #logo {
    display: none;
  }
}
/* Rules for Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  body {
    background-image: url('../Pics/night_train_sm.jpg');
  }
  #footerAppendBoxRight,
  #footerAppendBoxLeft {
    margin: 0px;
  }
  #headerNavDiv {
    margin: 0;
  }
  #logo {
    display: none;
  }
}
/* Rules for Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  body {
    background-image: url('../Pics/night_train_xs.jpg');
  }
  #footerAppendBoxRight,
  #footerAppendBoxLeft {
    margin: 0px;
  }
  #headerNavDiv {
    margin: 0;
  }
  #searchForm {
    display: none;
  }
  #logo {
    display: none;
  }
}
