@import "bootstrap.css";
@basecolor:#ffffa8;

@headingFont:'Cutive Mono', ;
@bodyTextFont:'Bitter', serif;

body {
	font-family: @bodyTextFont;
}

h1, h2, h3, h4, h5, h6, a {
	font-family: @headingFont;
}

header {
	background-color: lighten(@basecolor, 7%);
}

#footer-wrapper {
	background-color: lighten(@basecolor, 1%);
}

#headerNavDiv {
	margin-top: 5vh;
}

header img {
	padding: 10px;
}


nav > ul > li.dropdown:hover > ul {
	display: block;
	float: left;
	margin-top: 0;
}

nav ul li ul li:hover > ul {
	display: block;
	left: 100%;
	top: 40%;
	float: left;
}

main {
	padding-bottom: 120px;
}

footer {
	min-height: 60px;
}

#footerAppendBoxRight, #footerAppendBoxLeft {
	display: inline;
	margin-left: 30px;
}

footer div {
	padding: 5px;
}