@import "bootstrap.css";
body {
  font-family: 'Bitter', serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Cutive Mono';
}
header {
  background-color: #ffffcc;
}
#footer-wrapper {
  background-color: #ffffad;
}
#headerNavDiv {
  margin-top: 5vh;
}
header img {
  padding: 10px;
}
nav > ul > li.dropdown:hover > ul {
  display: block;
  float: left;
  margin-top: 0;
}
nav ul li ul li:hover > ul {
  display: block;
  left: 100%;
  top: 40%;
  float: left;
}
main {
  padding-bottom: 120px;
}
footer {
  min-height: 60px;
}
#footerAppendBoxRight,
#footerAppendBoxLeft {
  display: inline;
  margin-left: 30px;
}
footer div {
  padding: 5px;
}
.emptySpace {
  height: 25px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #334d1a;
  color: #ffffcc;
}
section {
  margin-top: 10vh;
  padding: 10vh;
  background: #fffff4;
}
body {
  background-image: url('../Pics/night_train.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
